{% extends "main/base.html" %}
{% block content %}

     <div class="container-fluid row align-items-center ">
      <div class="row">
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <button type="button" class="btn btn-danger w-100" >Emergency</button>
      </div>
      </div>
      </div>
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <button type="button" class="btn btn-danger w-100" >Emergency</button>
        </div>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <button type="button" class="btn btn-danger w-100" >Emergency</button>
      </div>
      </div>
      </div>
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <button type="button" class="btn btn-danger w-100" >Emergency</button>
      </div>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <button type="button" class="btn btn-danger w-100" >Emergency</button>
      </div>
      </div>
      </div>
      <div class="card m-2 col" style="width: 18rem;">
        <img class="card-img-top" src="/media/emergency/clinic1.jpg" alt="Card image cap">
        <div class="card-body">
        <center><h5 class="card-title">Animal Health Clinic</h5></center> <br>
        <p class="card-text">
          We offer Emergency Services for Outpatients!
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: 555 Sampaguita St. </li>
          <li class="list-group-item">Contact No.: +63 912 123 4321</li>
          <li class="list-group-item">Open Daily</li>
        </ul>
        <div class="card-body">
        <button type="button" class="btn btn-outline-success w-100">Book Visit</button>
        <br>
        <button type="button" class="btn btn-danger w-100">Emergency</button>
      </div>
      </div>
      </div>
     </div>
   </div>

{% endblock content %}