{% extends "main/base.html" %}
{% block content %}
<center><h1>Petville Store</h1></center>
<div class="container">
<div class = "row align-items-center ">
<div class="col">
<div>
    &nbsp <b>Automatic Pet Feeder</b> <br>
    <img src=/media/store/feeder.jpg height="200" width="200"> <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Tennis Balls</b> <br>
    <img src=/media/store/tennisBall.jpg class="border-2" height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Bone Chew Toy</b> <br>
    <img src=/media/store/boneToy.jpg height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
</div>
<div class="col">
<div>
    <b>Scratch Post</b>  <br>
    <img src=/media/store/scratchPosty.jpg class="border-2" height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Cat Hotel</b>  <br>
    <img src=/media/store/catHouse.jpg height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Catnip</b>  <br>
    <img src=/media/store/catnip.jpg class="border-2" height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
</div>
<div class="col">
<div>
    <b>Dog Food</b>  <br>
    <img src=/media/store/dogFood.jpg height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Cat Food</b>  <br>
    <img src=/media/store/catfood.jpg class="border-2" height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1">Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
<div>
    <b>Pet Treats</b>  <br>
    <img src=/media/store/treats.jpg height="200" width="200">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Buy Now</button>
    <button type="button" class="btn btn-outline-secondary mt-1">Add to Cart</button>
</div>
</div>
</div>
</div>
{% endblock content %}