{% extends "main/base.html" %}
{% block content %}
<center><h1>Petville Trainers and Sitters</h1></center>
<div class="container">
<div class = "row align-items-center ">
<div class="col">
<div>
    &nbsp <b>Girl Pet Lover</b> <br>
    <img src=/media/training/trainer1.jpg height="200" width="210"> <br>
    <button type="button" class="btn btn-primary mt-1 w-100" >Pet Sitting</button>
</div>
<div>
    <b>Girl Pet Da Dog</b> <br>
    <img src=/media/training/trainer2.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
<div>
    <b>Boy All Dog Lover</b> <br>
    <img src=/media/training/trainer3.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
</div>
<div class="col">
<div>
    <b>Girl Scratchy</b>  <br>
    <img src=/media/training/trainer4.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
<div>
    <b>I Love Bigols</b>  <br>
    <img src=/media/training/trainer5.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
<div>
    <b>Shake Shake Doggy</b>  <br>
    <img src=/media/training/trainer6.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
</div>
<div class="col">
<div>
    <b>Chunky Husky</b>  <br>
    <img src=/media/training/trainer7.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1" >Pet Sitting</button>
    <button type="button" class="btn btn-outline-secondary mt-1 w-50">Training</button>
</div>
<div>
    <b>Girl Retriever Lover</b>  <br>
    <img src=/media/training/trainer8.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-primary mt-1 w-100" >Pet Sitting</button>
</div>
<div>
    <b>Dog Obeyer</b>  <br>
    <img src=/media/training/trainer9.jpg height="200" width="210">
    <br>
    <button type="button" class="btn btn-outline-secondary mt-1 w-100">Training</button>
</div>
</div>
</div>
</div>
{% endblock content %}